*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --blue: #0053E2;
  --lightBlue: #A9DDF7;
  --eBlue: #4DBDF5;
  --darkBlue: #001E60;

  --yellow: #FFC220;
  --darkYellow: #ffa010;

  --gray: #1e5c7a;
}

body{
  font-family: 'Poppins', sans-serif;
  color: var(--darkBlue);
}