.topbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vw;

    background-color: var(--darkBlue);

    padding: 10px 20px;

}

.profile{

    margin-left: auto;
    height: 100%;
    aspect-ratio: 1;

    border-radius: 100px;
    background-color: aliceblue;
}